
body {
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

html {
    overflow-y: scroll;
}

/* .header {

} */

.header-text {
    width: 40%;
}

.nav-menu {
    display: inline-block;
    width: 60%;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.nav-menu ul {
    list-style-type: none;
    text-align: right;
}

.nav-menu li {
    display: inline-block;
    font-size: 15px;
    margin-left: 6%;
    text-transform: uppercase;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

.nav-toggle-label {
    display: none;
}

.content-container-1 /* CER */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-left: 8%;
    margin-right: 1%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    background:url('https://github.com/jay-tay/jay-tay.github.io/blob/master/images/cer.png?raw=true') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-4 /* Personr */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-left: 1%;
    margin-right: 8%;
    background-color: rgb(110, 110, 110);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:url('https://github.com/jay-tay/jay-tay.github.io/blob/master/images/personr.png?raw=true') no-repeat center;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-text {
    position: absolute;
    margin-top: 310px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.text-wide {
    position: absolute;
    margin-top: 310px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.about-text {
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 18px;
    width: 100%;
}

.profile-picture {
    float: left;
    margin-right: 5%;
    margin-bottom: 400px;
    height: 550px;
    width: 330px;
    border-radius: 8px;
}

.project-body {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10px;
}

.subtext-body {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10px;
}

.project-title {
    font-size: 26px;
    font-weight: 400;
    color: #000;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 24px;
}

.container {
    display: block;    
    width: 80px;
    margin-right: 40px;
}

.primary-image {
    height: 84%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 100px;
    border-radius: 8px;
}

.intro-text {
    line-height: 125%;
    letter-spacing: -2.5px;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
}

.intro-title {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0x;
    font-weight: 500;
}

.intro-info {
    display: inline-block;
    width: 80%;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0x;
    color:rgba(0,0,0,0.7);
}

.project-left {
    height: 2000px;
    width: 45%;
    float: left;
    margin-right: 10px;
    color:rgba(0,0,0,0.7);
}

.project-text {
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.project-right {
    height: 650px;
    width: 270px;
    float: right;
}

.full-margin {
    display: block;
    width: 20px;
    height: 60px;
    margin: 5px;
}

#prototype-link {
    display: none;
}

#healthcare-embed {
    width: 161.29%;
    height: 161.29%;
    -ms-zoom: 0.62;
    -moz-transform: scale(0.62);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.62);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.62);
    -webkit-transform-origin: 0 0;
}