@import 'http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900';

* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
}

* a {
    text-decoration: none;
    color: #4D4D4D;
}

/** CSS Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background-color: #fff;
    margin-left: 20%;
    margin-right: 20%;
}

.header {
    height: 120px;
    margin: auto;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #fff;
}

.header a:hover {
    opacity: 0.7;
}

.header a:active {
    opacity: 0.3;
}

.header-text {
    display: inline-block;
    width: 40%;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 55px;
    color: rgb(59, 59, 59);
}

.nav-toggle-label {
    display: none;
}

.nav-toggle-label-close {
    display: none;
}

.nav-menu {
    display: inline-block;
    width: 60%;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.nav-menu ul {
    list-style-type: none;
    text-align: right;
}

.nav-menu li {
    display: inline;
    font-size: 15px;
    margin-left: 30px;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    opacity: 0.6;
}

.nav-menu li a:active {
    opacity: 0.3;
}

.nav-toggle {
    display: none;
}

.content-container-wide {
    display: block;
    height: 300px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 30px;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1240533/screenshots/4907688/attachments/1102644/copper_photo_industry_01b.jpg') no-repeat center;
    
    background-position: 50% 42%;
    background-attachment: inherit;
}

.content-container-wide:hover {
    opacity: 0.7;
}

.content-container-1 {
    display: inline-block;
    height: 300px;
    width: 26%;
    margin-left: 8%;
    margin-right: 3%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1401165/screenshots/4844063/cover.gif') no-repeat;
    background-position: 50% 30;
    background-attachment: inherit;
}

.content-container-1:hover {
    opacity: 0.7;
}

.content-container-2 {
    display: inline-block;
    height: 300px;
    width: 26%;
    margin-right: 3%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1201838/screenshots/4929480/artboard_2_copy_8_1x.png') no-repeat center;
    background-attachment: inherit;
}

.content-container-2:hover {
    opacity: 0.7;
}

.content-container-3 {
    display: inline-block;
    height: 300px;
    width: 26%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/25514/screenshots/4757094/iterable_brand_assets_branding_styleguide_guideline.png') no-repeat;
}

.content-container-3:hover {
    opacity: 0.7;
}

.content-text {
    position: absolute;
    margin-top: 310px;
    width: 15.6666666%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.profile-picture {
    float: right;
    margin-left: 5%;
    height: 170px;
    width: 170px;
    border-radius: 5px;
}

.profile-picture-mobile {
    display: none;
    border-radius: 5px;
}

.intro {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.intro-text {
    letter-spacing: 0px;
    line-height: 26px;
    font-weight: 300;
}

.intro-text a:hover {
    opacity: 0.7;
}

.intro-text a {
    color: #3296d8;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.intro-text a:active {
    opacity: 0.7;
}

.about-text {
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.about-text a:hover {
    opacity: 0.7;
}

.about-text a {
    color: #3296d8;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.about-text a:active {
    opacity: 0.7;
}

.cv-mobile {
    display: none;
}

.cv {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
}

.cv-heading {
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
    margin-bottom: 15px;
}

.education-date {
    display: inline-block;
    width: 15%;
    font-weight: bold;
    font-weight: bolder;
    float: left;
}

.education-title {
    display: inline-block;
    text-align: left;
    float: right;
    width: 75%;
    font-weight: bold;
    font-weight: bolder;
}

.education-subtitle {
    display: inline-block;
    float: right;
    text-align: left;
    width: 75%;
    margin-bottom: 20px;
}

.education-text {
    float: right;
    text-align: left;
    width: 75%;
    margin-bottom: 10px;
}

.cv-division {
    display: inline-block;
    height: 15px;
    width: 100%;
}

.cv-mobile {
    display: none;
}

strong {
    font-family:"Work Sans Bold", "Work Sans-Bold", "WorkSans-Bold", "WorkSans Bold";
    font-weight: bold;
    font-weight: bolder;
    font-weight: 500;
    color: red;
}

@media screen and (max-width: 768px) {
    body { 
        background-color: white;
    }
}
