@import 'http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:300,400,bold';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0px;
}

* a {
    text-decoration: none;
    color: #4D4D4D;
}

/** CSS Reset **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

html {
    overflow-y: scroll;
}

.header {
    height: 120px;
    margin: auto;
    margin-left: 8%;
    margin-right: 8%;
}

.header a:hover {
    opacity: 0.7;
}

.header a:active {
    opacity: 0.3;
}

.header-text {
    display: inline-block;
    text-transform: uppercase;
    width: 40%;
    font-size: 15px;
    font-weight: 400;
    padding-top: 55px;
    color: rgb(0, 0, 0);
}

.nav-toggle-label {
    display: none;
}

.nav-toggle-label-close {
    display: none;
}

.nav-menu {
    display: inline-block;
    width: 60%;
    font-weight: 700;
}

.nav-menu ul {
    list-style-type: none;
    text-align: right;
}

.nav-menu li {
    display: inline;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-left: 35px;
    text-transform: uppercase;
}

.nav-menu li a {
    letter-spacing: -0.1px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.nav-menu li a:hover {
    opacity: 0.6;
}

.nav-menu li a:active {
    opacity: 0.3;
}

.nav-toggle {
    display: none;
}

.hover {
    display: block;
    height: 550px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    transition: all .2s ease-in-out;
}

.content-container-square:hover .hover {
    opacity: 1;
}

.content-container-1:hover .hover {
    opacity: 1;
}

.content-container-2:hover .hover {
    opacity: 1;
}

.content-container-3:hover .hover {
    opacity: 1;
}

.content-container-4:hover .hover {
    opacity: 1;
}

.content-container-5:hover .hover {
    opacity: 1;
}

.content-container-6:hover .hover {
    opacity: 1;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 26px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #fff;
}

.content-container-1 /* CER */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-left: 8%;
    margin-right: 1%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://github.com/jay-tay/jay-tay.github.io/blob/master/images/cer.png?raw=true') no-repeat;
    background-size: 130%;
    background-position: 50% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-1:hover {
    transform: scale(1.02);
}

.content-container-2 /* Pulse */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-left: 1%;
    margin-right: 8%;
    background-color: rgb(110, 110, 110);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    background:url('https://imgur.com/QrURPmI.png') no-repeat;
    background-size: 212%;
    background-position: 46% 34%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-2:hover {
    transform: scale(1.02);
}

.content-container-3 /* NAD Remote */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 1%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://imgur.com/qG0riKU.png') no-repeat center;
    background-size: cover;
    background-position: 56% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-3:hover {
    transform: scale(1.02);
}

.content-container-4 /* Personr */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 8%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://github.com/jay-tay/jay-tay.github.io/blob/master/images/personr.png?raw=true') no-repeat center;
    background-size: 130%;
    background-position: 50% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-4:hover {
    transform: scale(1.02);
}

.content-container-5 /* Energy App */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 1%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://joshtaylor.uk/images/energy-app-collection.png') no-repeat;
    background-size: cover;
    background-position: 41% 26%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-5:hover {
    transform: scale(1.02);
}

.content-container-6 /* Stagger */ {
    display: inline-block;
    position: relative;
    height: 600px;
    width: 41%;
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 8%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:url('https://raw.githubusercontent.com/jay-tay/jay-tay.github.io/master/images/stagger-main.png') no-repeat center;
    background-size: 500%;
    background-position: 44% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-6:hover {
    transform: scale(1.02);
}

.profile-picture {
    float: left;
    margin-right: 5%;
    margin-bottom: 100px;
    height: 660px;
    width: 400px;
    border-radius: 8px;
}

.profile-picture-mobile {
    display: none;
}

.intro {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 60px;
    margin-bottom: 140px;
}

.intro-text {
    line-height: 125%;
    letter-spacing: -2.5px;
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
}

.role-title {
    font-weight: 500;
}

.asterisk {
    margin-right: 8px;
}

.asterisk-sm {
    margin-right: 0px;
}

.intro-text a {
    color: #3296d8;
    line-height: 26px;
}

.intro-text a:hover {
    opacity: 0.7;
}

.intro-text a:active {
    opacity: 0.4;
}

.about-text {
    width: 100%;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 18px;
}

.margin {
    height: 2px;
}

.experience-block {
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.about-heading {
    display: block;
    margin-top: 14px;
    margin-bottom: 16px;
}

.about-heading u {
    width: 100%;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 22px;
}

.about-text a:hover {
    opacity: 0.7;
}

.about-text a {
    color: #3296d8;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.about-text a:active {
    opacity: 0.7;
}

.cv-mobile {
    display: none;
}

.cv {
    margin-top: 0px;
}

.cv-heading {
    display: block;
    margin-top: 30px;
    margin-left: 36.5%;
    border-bottom: solid 1px #e7e7e7;
    margin-bottom: 30px;
}

.education-date {
    width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-weight: 400;
}

.education-title {
    width: 100%;
    margin-bottom: 2px;
    text-align: left;
    font-weight: bold;
    font-weight: 400;
}

.education-subtitle {
    width: 100%;
    margin-bottom: 20px;
}

.education-text {
    float: right;
    text-align: left;
    width: 75%;
    margin-bottom: 20px;
}

.cv-division {
    display: inline-block;
    height: 15px;
    width: 100%;
}

.cv-mobile {
    display: none;
}

strong {
    font-weight: bold;
    font-weight: bolder;
    font-weight: 400;
}

.project-title {
    font-size: 26px;
    font-weight: 400;
    color: #000;
    margin-left: 8%;
    margin-top: 10px;
    margin-bottom: 24px;
}

.project-about-container {
    display: flex;
    height: 100%;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 28px;
}

.container {
    display: block;    
    width: 80px;
    margin-right: 40px;
}

.title {
    font-weight: 500;
    margin-bottom: 4px;
}

.primary-image {
    height: 84%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 100px;
    border-radius: 8px;
}

.secondary-image {
    height: 84%;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-body {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: -30px;
}

.subtext-body {
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 120px;
}

.project-intro {
    margin-bottom: 140px;
}

.intro-wide {
    letter-spacing: 0px;
    line-height: 22px;
    margin-bottom: 50px;
    color:rgba(0,0,0,0.7);
}

.intro-wide a {
    color: #3296d8;
    line-height: 26px;
}

.intro-closing {
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: -10px;
    margin-bottom: -20px;
    color:rgba(0,0,0,0.7);
}

.intro-row {
    width: 100%;
    margin-bottom: 40px;
}

.intro-title {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0x;
    font-weight: 500;
}

.intro-info {
    display: inline-block;
    width: 85%;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0x;
    color:rgba(0,0,0,0.7);
}

.project-text {
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 18px;
    color:rgba(0,0,0,0.7);
}

.project-text a {
    color: #3296d8;
}

.project-text a:hover {
    opacity: 0.7;
}

.project-text a:active {
    opacity: 0.4;
}

.full-margin {
    display: block;
    width: 20px;
    height: 60px;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    body { 
        background-color: white;
    }
}
