* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

* a {
    text-decoration: none;
    color: #4D4D4D;
}

body {
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    height: 120px;
    margin: 0;
    background-color: #fff;
}

.header-text {
    display: inline-block;
    width: 42%;
    margin-left: 8%;
    font-size: 26px;
    letter-spacing: 3px;
    padding-top: 55px;
    color: rgb(59, 59, 59);
}

.nav-toggle-label {
    display: none;
}

.nav-toggle-label-close {
    display: none;
}

.nav-menu {
    display: inline-block;
    width: 42%;
    margin-right: 8%;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.nav-menu ul {
    list-style-type: none;
    text-align: right;
}

.nav-menu li {
    display: inline;
    font-size: 15px;
    margin-left: 30px;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    opacity: 0.6;
}

.nav-menu li a:active {
    opacity: 0.3;
    color: #3296d8;
}

.nav-toggle {
    display: none;
}

.content-container-wide {
    display: block;
    height: 300px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 30px;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1240533/screenshots/4907688/attachments/1102644/copper_photo_industry_01b.jpg') no-repeat center;
    
    background-position: 50% 42%;
    background-attachment: inherit;
}

.content-container-wide:hover {
    opacity: 0.7;
}

.content-container-1 {
    display: inline-block;
    height: 300px;
    width: 26%;
    margin-left: 8%;
    margin-right: 3%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1401165/screenshots/4844063/cover.gif') no-repeat;
    background-position: 50% 30;
    background-attachment: inherit;
}

.content-container-1:hover {
    opacity: 0.7;
}

.content-container-2 {
    display: inline-block;
    height: 300px;
    width: 26%;
    margin-right: 3%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1201838/screenshots/4929480/artboard_2_copy_8_1x.png') no-repeat center;
    background-attachment: inherit;
}

.content-container-2:hover {
    opacity: 0.7;
}

.content-container-3 {
    display: inline-block;
    height: 300px;
    width: 26%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/25514/screenshots/4757094/iterable_brand_assets_branding_styleguide_guideline.png') no-repeat;
}

.content-container-3:hover {
    opacity: 0.7;
}

.content-text {
    position: absolute;
    margin-top: 310px;
    width: 23.333333%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.intro {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.intro-text {
    letter-spacing: 0.6px;
    line-height: 26px;
}

.intro-text a:hover {
    opacity: 0.7;
}

.intro-text a {
    color: #3296d8;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.intro-text a:active {
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    body { 
        background-color: white;
    }
}
