
body {
    background-color: #fff;
    margin-left: 0%;
    margin-right: 0%;
}

.intro {
    margin-left: 8%;
    margin-top: 5px;
    margin-bottom: 10%;
}

.intro-text {
    margin-top: 5%;
    margin-right: 8%;
    letter-spacing: 0.6px;
    line-height: 26px;
}


.header {
    height: 120px;
    margin: 0;
    background-color: #fff;
}

.header-text {
    display: inline-block;
    width: 42%;
    margin-left: 8%;
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 55px;
    color: rgb(59, 59, 59);
}

.content-container-wide {
    display: block;
    height: 300px;
    width: 84%;
    margin-left: 8%;
    margin-bottom: 10%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1240533/screenshots/4907688/attachments/1102644/copper_photo_industry_01b.jpg') no-repeat center;
    background-position: 65% 42%;
    background-attachment: inherit;
}

.content-container-1 {
    display: inline-block;
    height: 300px;
    width: 84%;
    margin-left: 8%;
    margin-bottom: 40px;
    margin-right: 8%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1401165/screenshots/4844063/cover.gif') no-repeat;
    background-position: 50% 30;
    background-attachment: inherit;
}

.content-container-2 {
    display: inline-block;
    height: 300px;
    width: 84%;
    margin-left: 8%;
    margin-bottom: 40px;
    margin-right: 8%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/1201838/screenshots/4929480/artboard_2_copy_8_1x.png') no-repeat center;
    background-attachment: inherit;
}

.content-container-3 {
    display: inline-block;
    height: 300px;
    width: 84%;
    margin-left: 8%;
    margin-bottom: 100px;
    margin-right: 8%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://cdn.dribbble.com/users/25514/screenshots/4757094/iterable_brand_assets_branding_styleguide_guideline.png') no-repeat;
}

.content-text {
    position: absolute;
    margin-top: 305px;
    width: 84%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.intro-text a {
    color: #3296d8;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.intro-text a:active {
    opacity: 0.7;
}
