
body {
    background-color: #fff;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
    overflow: hidden;
}

html {
    overflow-y: scroll;
}

.header {
    background: rgba(255, 255, 255, 1);
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    margin: auto;
    margin-right: 8%;
}

.header-text {
    display: inline-block;
    width: 50%;
    margin-left: 8%;
    font-size: 22px;
    letter-spacing: 3px;
    color: rgb(59, 59, 59);
}

.nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 40px;
    padding-bottom: 1334px;
    background: rgba(255, 255, 255, 1);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 200ms ease-in-out;

    width: 100%;
    margin-right: 0;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.nav-menu ul {
    margin: 0;
    list-style-type: none;
    text-align: left;
    padding: 0;
}

.nav-menu li {
    display: block;
    font-size: 18px;
    margin-left: 8%;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 50ms ease-in-out;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ .nav-menu {
    transform: scale(1, 1);
    transition: transform 200ms ease-in-out;
}

.nav-toggle:checked ~ .nav-menu li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label-close {
    display: none;
}

.nav-toggle:checked ~ .toggle-container-2 .nav-toggle-label-close {
    display: block;
}

.nav-toggle:checked ~ .toggle-container .nav-toggle-label {
    display: none;
}

.toggle-container {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    margin-top: 4px;
    margin-right: 8%;
}

.toggle-container-2 {
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    margin-top: 4px;
}

.nav-toggle-label {
    display: block;
}

.nav-toggle-label span {
    display: block;
    margin-right: -26px;
}

.nav-toggle-label-close span {
    display: block;
    margin-right: -20px;
}

.nav-toggle-label span img {
    height: 45%;
    width: 45%;
}

.nav-toggle-label-close span img {
    height: 42%;
    width: 42%;
}

.nav-toggle-label span img:hover {
    opacity: 0.7;
}

.nav-toggle-label span img:active {
    opacity: 0.3;
}

.nav-toggle-label-close span:hover {
    opacity: 0.7;
}

.nav-toggle-label-close span:active {
    opacity: 0.3;
}

.intro {
    margin-left: 8%;
    margin-top: 5px;
    margin-bottom: 40px;
}

.intro-margin {
    margin-top: 125px;
}

.intro-margin-about {
    margin-top: 125px;
}

.intro-text {
    font-size: 22px;
    margin-top: 10px;
    letter-spacing: 0px;
    line-height: 135%;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #fff;
}

.content-container-1 /* CER */ {
    display: inline-block;
    position: relative;
    height: 315px;
    width: 84%;
    margin-left: 8%;
    margin-right: 0%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://github.com/jay-tay/jay-tay.github.io/blob/master/images/cer.png?raw=true') no-repeat;
    background-size: 126%;
    background-position: 50% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-1:hover {
    transform: scale(1.02);
}

.content-container-2 /* Pulse */ {
    display: inline-block;
    position: relative;
    height: 315px;
    width: 84%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 0%;
    background-color: rgb(110, 110, 110);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://imgur.com/QrURPmI.png') no-repeat;
    background-size: 212%;
    background-position: 46% 34%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-2:hover {
    transform: scale(1.02);
}

.content-container-3 /* NAD Remote */ {
    display: inline-block;
    position: relative;
    height: 315px;
    width: 84%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 1%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://imgur.com/qG0riKU.png') no-repeat center;
    background-size: cover;
    background-position: 56% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-3:hover {
    transform: scale(1.02);
}

.content-container-4 /* Personr */ {
    display: inline-block;
    position: relative;
    height: 315px;
    width: 84%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 0%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://github.com/jay-tay/jay-tay.github.io/blob/master/images/personr.png?raw=true') no-repeat center;
    background-size: 120%;
    background-position: 50% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-4:hover {
    transform: scale(1.02);
}

.content-container-5 /* Energy App */ {
    display: inline-block;
    position: relative;
    height: 315px;
    width: 84%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 1%;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://joshtaylor.uk/images/energy-app-collection.png') no-repeat;
    background-size: cover;
    background-position: 41% 26%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-5:hover {
    transform: scale(1.02);
}

.content-container-6 /* Stagger */ {
    display: inline-block;
    position: relative;
    height: 315px;
    width: 84%;
    margin-top: 30px;
    margin-left: 8%;
    margin-right: 0%;
    margin-bottom: 80px;
    background-color: rgb(235, 222, 219);
    border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    background:url('https://raw.githubusercontent.com/jay-tay/jay-tay.github.io/master/images/stagger-main.png') no-repeat center;
    background-size: 500%;
    background-position: 44% 50%;
    background-attachment: inherit;

    transition: all .2s ease-in-out;
}

.content-container-6:hover {
    transform: scale(1.02);
}

.content-text {
    position: absolute;
    margin-top: 310px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.about-text {
    width: 100%;
    line-height: 26px;
    margin-bottom: 15px;
    text-align: left;
}

.about-text:last-child {
    width: 100%;
    letter-spacing: 0.6px;
    line-height: 26px;
    text-align: left;
}

.about-text a {
    color: #3296d8;
    letter-spacing: 0.6px;
    line-height: 26px;
}

.about-text a:active {
    opacity: 0.7;
}

.profile-picture {
    display: none;
}

.profile-picture-mobile {
    display: block;
    background:url('https://github.com/jay-tay/jay-tay.github.io/blob/master/images/profile19.png?raw=true') no-repeat center;
    background-size: 114%;
    background-position: 50% 14%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 132px;
    height: 500px;
    width: 100%;
}

.margin {
    height: 6px;
}

.intro-margin-about {
    margin-top: 40px;
}

.bottom-margin-about {
    height: 60px;
}

.cv {
    display: none;
}

.cv-mobile {
    display: block;
    margin-top: 45px;
    margin-left: 8%;
    margin-right: 8%;
}

.cv-heading-m {
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 15px;
    border-bottom: solid 1px #d9d9d9;
    margin-bottom: 15px;
}

.education-date-m {
    display: block;
    width: 30%;
    font-weight: bold;
    font-weight: 400;
    float: left;
    margin-bottom: 10px;
}

.education-date-m1 {
    display: block;
    width: 50%;
    font-weight: bold;
    font-weight: 400;
    float: left;
    margin-bottom: 10px;
}

.education-title-m {
    display: block;
    text-align: left;
    float: right;
    width: 100%;
    font-weight: bold;
    font-weight: 400;
}

.education-subtitle-m {
    display: block;
    float: right;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.education-text-m {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 24px;
}

.education-text-m0 {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
}

.cv-division-m {
    display: inline-block;
    height: 5px;
    width: 100%;
}

.cv-division2-m {
    display: inline-block;
    border-bottom: solid 1px #d9d9d9;
    margin-bottom: 5px;
    width: 70%;
}

.cv-division3-m {
    display: inline-block;
    border-bottom: solid 1px #ffffff;
    opacity: 0;
    width: 50%;
}

strong {
    font-weight: bold;
    font-weight: bolder;
    font-weight: 400;
}

.project-body {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
    margin-bottom: 70px;
}

.subtext-body {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.project-title {
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-left: 8%;
    margin-top: 120px;
    margin-bottom: 24px;
}

.container {
    display: block;    
    width: 80px;
    margin-right: 30px;
}

.project-intro {
    margin-bottom: 60px;
}

.primary-image {
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.intro-wide {
    letter-spacing: 0px;
    line-height: 22px;
    margin-bottom: 50px;
    color:rgba(0,0,0,0.7);
}

.intro-row {
    width: 100%;
    margin-bottom: 40px;
}

.intro-title {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 20%;
    font-weight: 500;
}

.intro-info {
    display: inline-block;
    width: 100%;
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0x;
    color:rgba(0,0,0,0.7);
    overflow-wrap: break-word;
}

.project-text {
    letter-spacing: 0px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 18px;
}

.full-margin {
    display: none;
    width: 20px;
    height: 60px;
    margin: 5px;
}

#prototype-link {
    display: block;
    width: 300px;
    height: 613px;
    margin-top: 5%;
    margin-bottom: 30%;
    background-color: rgb(235, 222, 219);
    border-radius: 5px;
    background:url('https://imgur.com/C1zjByo.png') no-repeat;
    background-size: 100%;
}